# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.GoodJobGamesSeyfullah.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Seyf\Desktop\GoodJobGamesSeyfullah\.idea\.idea.GoodJobGamesSeyfullah\.idea/dataSources/
/dataSources.local.xml
